    main {
        display: flex;
        flex-direction: column;
    }

    h1 {
        margin-top: 1rem;
    }

    .book-details-page {
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }

    .book-container {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        width: 70%;
        background-color: white;
        padding: 1.5rem;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }

    .book-cover {
      width: 250px;
      height: 330px;
      object-fit: cover;
    }

    .book-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .review-container {
      display: flex;
      align-items: center;
      width: 50%;
      background-color: white;
      padding: 1.5rem;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }

    .rating-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
      
    .rating-section {
      flex: 1;
    }

    .rating-section h2 {
      text-align: center;
    }

    .reviews {
      background-color: white;
      margin-top: 2rem;
      padding-top: 2rem;
      padding-left: 5rem;
    }

    .review {
      margin-bottom: 1rem;
    }

    .cart-buttons {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }